build
source/boost_1_63_0/*
source/dvdrip2/*
source/environnementTravail/awesome-terminal-fonts/*
source/environnementTravail/fantasque_awesome_powerline/*
source/environnementTravail/fonts-powerline/*
source/environnementTravail/nerd-fonts/*
source/environnementTravail/dontpanic/*
source/environnementTravail/vpngate-with-proxy/*
source/environnementTravail/Free-OpenVPN-Connect-for-Linux/*
source/environnementTravail/Free-OpenVPN-Connect-for-Linux/PROFILES/vpnuserpass
source/environnementTravail/watchdtdict-emission/metadata.txt
source/environnementTravail/watchdtdict-emission/document1.pdf
source/geogig/geogig/*
source/geogig/geoserver-2.10.1-bin/*
source/geogig/geoserver-2.10.1-war/*
source/geogig/gs-geogig-2.10/*
source/geogig/geogig/CDA/*
source/geogig/geogig/Departement/*
source/geogig/geogig/DGFiP/*
source/geogig/geogig/erdf/*
source/geogig/geogig/SDE/*
source/geogig/geogig/SDEER/*
source/geogig/geogig/Soluris/*
source/geogig/geogig/VLR/*
source/icu/*
source/mapnik/*
source/openstreetmap-carto/*
source/openstreetmap-carto-vector-tiles/*
source/osm/docker-mapnik/*
source/python-mapnik/*
source/tirex/*
source/tirex*
source/tileman/*
source/tileman*
